a, a:hover, a:active, a:focus, a:visited {
    color: black;
    text-decoration: underline;
}

.sidebar {
    padding-top: 5px;
    padding-bottom: 5px;
}

.sidebar a {
   font-family: georgia;
   font-size: 138.5%;
   font-style: italic;
   display:block;
}

.main {
    border-right: 1px solid #CCCCCC;
}

.footer {
    border-top: 1px solid #CCCCCC;
    padding: 5px;
    font-family: georgia;
    font-size: 108%;
    font-style: italic;
    text-align: center;
}

#logo {
    margin-top: 15px;
}

.friendsWrapper {
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 10px;
    font-size: 138.5%;
    font-family: georgia;
}


.friendsWrapper a {
    text-decoration: none;
}

.popularWrapper {
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 10px;
    font-size: 138.5%;
    font-family: georgia;
}


.popularWrapper a {
    text-decoration: none;
}


.aboutWrapper {
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 10px;
    font-size: 138.5%;
    font-family: georgia;
}

.aboutWrapper a {
    text-decoration: none;
}

.aboutWrapper h1 {
    margin-top: 1em;
    font-size: 153.9%;
}

.aboutWrapper p {
    margin-bottom: 0.5em;
}

.tweet {
    position: relative;
    text-align:left;
    width: 500px;
    min-height: 66px;
    font-family: georgia;
    padding: 10px 10px 15px 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: auto;
    margin-right: auto;
    -moz-border-radius-topright: 15px;
    -moz-border-radius-bottomleft: 15px;
    -webkit-border-top-right-radius: 15px;
    -webkit-border-bottom-left-radius: 15px;
}

.textWrap {
    margin-left: 58px;
    font-size: 167%;
}

.textWrap .icons {
    width: 48px;
    height: 58px;
    margin-left: -58px;
    float:left;
}

.userImage {
    width: 48px;
    height: 48px;
    float:left;
}

.retweetImage {
    margin-top:3px;
    width: 48px;
    height: 16px;
    float:right;
}

.userScreenName {
    font-weight: bolder;
}

.userScreenName .screenNameLink, .statusText .screenNameLink {
    text-decoration: none;
}

.userRealName {
    font-style: italic;
}

.statusText {
    
}

#info {
}

#infoarrow {
 margin-top: -20px;
 float:left;
}

#inforect {
    margin-top:15px; padding: 5px;
    width: 250px;
    background: white;
    border: 3px solid #969696;
    -moz-border-radius-topright: 8px;
    -moz-border-radius-bottomright: 8px;
    -moz-border-radius-bottomleft: 8px;
    -webkit-border-top-right-radius: 8px;
    -webkit-border-bottom-right-radius: 8px;
    -webkit-border-bottom-left-radius: 8px;
}

.meta {
    position:absolute;
    right:0;
    bottom:0;
    background:#969696;
    padding-left: 4px;
    padding-right:2px;
    padding-top:1px;
    padding-bottom:1px;
    font-size: 85%;
    font-style: italic;
    text-align:right;
    -moz-border-radius-topleft: 8px;
    -webkit-border-top-left-radius: 8px;
}

.follow
{
    font-style: italic;
    font-size: 123.1%;
    font-family: georgia;
    margin-top: 5px;
    text-align: center;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    padding: 5px;
    background: #23d523;
}

.key {
    font-weight: bolder;
}

.importance0 {
    background-color: #E8E8E8;
}

.importance1 {
    background-color: #FFFF66;
}

.importance2 {
    background-color: #FF9900;
}

.importance3 {
    background-color: #FF3300;
}

.importance4 {
    background-color: #FF0000;
}

.importance5 {
    background-color: #FF0000;
}

.importance6 {
    background-color: #FF0000;
}

.importance7 {
    background-color: #FF0000;
}

.importance8 {
    background-color: #FF0000;
}

.importance9 {
    background-color: #FF0000;
}

.importance10 {
    background-color: #FF0000;
}

